<!-- <header class="bg-white shadow dark:bg-gray-800">
    <nav class="container mx-auto flex justify-between items-center py-4 px-6">
        <div class="text-2xl font-bold text-gray-800 dark:text-white">Skola Kur'ana</div>
        <ul class="flex space-x-6">
            <li><a href="#"
                    class="text-gray-800 dark:text-white hover:text-gray-600 dark:hover:text-gray-400">Početna</a></li>
            <li><a href="#" class="text-gray-800 dark:text-white hover:text-gray-600 dark:hover:text-gray-400">O
                    nama</a></li>
            <li><a href="#"
                    class="text-gray-800 dark:text-white hover:text-gray-600 dark:hover:text-gray-400">Programi</a></li>
            <li><a href="#" class="text-gray-800 dark:text-white hover:text-gray-600 dark:hover:text-gray-400">Blog</a>
            </li>
            <li><a href="#"
                    class="text-gray-800 dark:text-white hover:text-gray-600 dark:hover:text-gray-400">Kontakt</a></li>
        </ul>
    </nav>
</header> -->

<div>
  <div
    style="
      display: flex;
      justify-content: space-around;
      background-color: #40a578;
    "
  >
    <div style="padding: 20px">LOGO</div>

    <div>
      <h1>Skola Kur ana Ebu Hanife</h1>
    </div>

    <div
      style="
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
      "
    >
      <!-- <ul style="display: flex; list-style-type: none; ">
                <li style="padding-right:10px">
                    Pocetna</li>
                <li style="padding-right: 10px;">Programi</li>
                <li style="padding-right: 10px;">O nama</li>
                <li style="padding-right: 20px;">Kontakt</li>
            </ul> -->

      <button
        style="
          background-color: white;
          border-radius: 10px;
          border: 1px solid white;
          border-width: 1px;
          height: 40%;
          margin-right: 15px;
        "
      >
        Pocetna
      </button>
      <button
        style="
          background-color: white;
          border-radius: 10px;
          border: 1px solid white;
          border-width: 1px;
          height: 40%;
          margin-right: 15px;
        "
      >
        Programi
      </button>
      <button
        style="
          background-color: white;
          border-radius: 10px;
          border: 1px solid white;
          border-width: 1px;
          height: 40%;
          margin-right: 15px;
        "
      >
        O nama
      </button>
      <button
        style="
          background-color: white;
          border-radius: 10px;
          border: 1px solid white;
          border-width: 1px;
          height: 40%;
          margin-right: 15px;
        "
      >
        Kontakt
      </button>
    </div>
  </div>
  <div
    style="
      background-image: url(https://picsum.photos/seed/picsum/200/300);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-attachment: fixed;
      padding: 30vh;
    "
  >
    <h1>Skola Kur ana</h1>
  </div>
</div>
